- @page_title   = "Search \"#{@search_term}\""
- article_count = @articles.count

- content_for(:head)
  = javascript_include_tag 'article_paginate'

h1 #{pluralize article_count, 'Result'} for "#{@search_term}"

#articles
  = render 'articles/paginated'
