<% content_for(:title, "Gannon's Blog") %>
<% content_for(:description, "Articles written by Gannon McGibbon.") %>

<p>Here's some articles I've written:</p>

<%= render(Blog::ArticleListComponent.new(articles: @articles)) %>