div#articles
{
  width: 60%;

  div.article
  {
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.2);
    margin-bottom: 20px;

    a:hover, a:focus
    {
      color: #00FFFF;
    }

    h3 a:hover, h3 a:focus
    {
      color: #800080;
    }

    span, .date
    {
      color: #FFF;
    }

    .date
    {
      font-style: italic;
    }

    span
    {
      margin-right: 10px;
    }

    p.preview
    {
      padding: 10px;
      background-color: #FFF;
    }
  }
}
