div#articles
{

  > *
  {
    margin: 5px;
  }

  div.article
  {
    margin-bottom: 30px;
    padding: 20px;
    width: 70%;
    height: 10%;
    background-color: rgba(30, 30, 30, 0.2);

    a:hover, a:focus
    {
      color: #00FFFF;
    }

    span, .date
    {
      color: #FFF;
    }

    .date
    {
      font-style: italic;
    }

    span
    {
      margin-right: 10px;
    }

    p.preview
    {
      padding: 10px;
      background-color: #FFF;
    }
  }
}
