*
{
  margin:0px;
  padding:0px;
  text-decoration: none;
}

html
{
  /* Thanks, http://subtlepatterns.com/ */
  background-image: url('/images/background/shattered.png');
  background-color: #FBFBFB;

  #notifications
  {
    padding-top: 100px;
  }
}
