div#other
{
  width: 30%;

  @media screen and (max-width: 800px)
  {
    width: 100%;
  }

  div#categories
  {
    height: 100%;
    display:block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(30, 30, 30, 0.2);

    div.list
    {
      list-style-position: inside;
      padding: 10px;
      background-color: #FFF;

      .edit, .destroy
      {
        padding-left: 10px;
      }

      a:hover, a:focus
      {
        color: #00FFFF;
      }
    }
  }
}
