div#other
{
  width: 30%;

  @media screen and (max-width: 800px)
  {
    width: 100%;
  }

  a:hover, a:focus
  {
    color: #00FFFF;
  }

  h3 a:hover, h3 a:focus
  {
    color: #800080;
  }
}

div#categories
{
  height: 100%;
  display:block;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(30, 30, 30, 0.2);

  div.list
  {
    padding: 10px;
    background-color: #FFF;

    .edit, .destroy, .add, .remove
    {
      padding-left: 10px;
    }

    a:hover, a:focus
    {
      color: #00FFFF;
    }
  }
}
