.flex_container_spaced
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_container_centered
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex_container_top
{
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}
