*
{
  margin:0px;
  padding:0px;
  text-decoration: none;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
}

html
{
  /* Thanks, http://subtlepatterns.com/ */
  background-image: image-url('background/shattered.png');
  background-color: #FBFBFB;

  #{ headings(1,6) }
  {
    font-weight: bolder;
  }

  #notifications
  {
    padding-top: 12%;
  }
}
