*
{
  margin:0px;
  padding:0px;
  text-decoration: none;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
}

#{ headings(1,6) }
{
  font-weight: bolder;
}

html
{
  /* Thanks, http://subtlepatterns.com/ */
  background-image: image-url('background/shattered.png');
  background-color: #FBFBFB;

  #notifications
  {
    padding-top: 100px;
  }

  body
  {
    width: 100%;
  }
}
