*
{
  margin:0px;
  padding:0px;
  text-decoration: none;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
}

html
{
  /* Thanks, http://subtlepatterns.com/ */
  background-image: image-url('background/shattered.png');
  background-color: #FBFBFB;

  width:100%;

  #document
  {
    padding: 0px 15px;
    padding-top: 10%;
    padding-bottom: 20px;
    margin: 0px auto;

    h2
    {
      padding-bottom:20px;
    }

    a, a:link, a:visited, a:hover, a:focus, a:active
    {
      color: inherit;
    }

  }
}
