footer.main
{
  clear:both;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.8);
  height: 100%;
  position:relative;
  overflow:auto;
  padding-bottom: 5em;

  *
  {
    color: #FFF;
  }

  .copy
  {
    float:right;
    position: relative;
    top: 10px;
  }

  .icon-links
  {
    li
    {
      display:inline;
      padding-right: 0.5em;
    }

    float:left;
  }
}
