form
{
  display: inline-block;
  margin: 0px auto;

  &.simple_form label
  {
    display:block;
  }

  input, textarea, button
  {
    padding: 5px;
    margin-bottom: 10px;
    background: none;
    border: none;
    margin-right: 5px;
  }

  input, textarea
  {
    color: #000;
    background-color: #FFF;
  }

  button, input[type="submit"]
  {
    color: #FFF;
    background-color: #000;
  }

}
