header.main
{
  form
  {
    margin: 0;
  }

  position: fixed;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 1%;
  top: 0;
  left: 0;
  right: 0;

  *
  {
    color: #FFF;
  }

  .article_search
  {
    i.fa-search
    {
      font-size: 1.5em;
    }

    input, button
    {
      border-bottom: solid #000;
      background: none;
      margin-right: 0px;
    }

    @media screen and (max-width: 500px)
    {
      input
      {
        margin-left: 20px;
        width: 60%;
      }
    }
  }

  img.logo
  {
    margin: auto;
    display: block;
    width:  5%;
    height: 5%;
    min-width: 60px;
    max-width: 95px;
  }
}
