header.main
{
  padding: 10px;
  position: fixed;
  background-color: rgba(30, 30, 30, 0.8);

  *
  {
    color: #FFF;
  }

  > *
  {
    margin-top: 20px;
  }

  #article_search
  {
    float:right;

    input
    {
      color: #000;
    }
  }

  img.logo
  {
    width:  5%;
    height: 5%;
    float: left;
  }
}
