header.main
{
  position: fixed;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;

  *
  {
    color: #FFF;
  }

  #article_search
  {
    .fa-search
    {
      font-size: 1.5em;
    }

    input, button
    {
      border-bottom: solid #000;
      background: none;
      margin-right: 0px;
    }
  }

  img.logo
  {
    width:  5%;
    height: 5%;
    min-width: 60px;
    max-width: 95px;
  }
}
