nav.main
{
  height: 100%;

  > *
  {
    position:relative;
  }

  a i.fa-bars
  {
    display:none;

    @media screen and (max-width: 900px)
    {
      display:inline-block;
      font-size: 2em;

    }
  }

  @media screen and (max-width: 900px)
  {
    ul
    {
      display:none;
    }

    li
    {
      visibility: hidden;
      display: block;
    }
  }

  ul
  {
    list-style: none;

    li
    {
      position:relative;
      width:250px;
      display:inline;
      padding-right: 10px;

      #current
      {
        color: #800080;
      }

      a:hover, a:focus
      {
        color: #00FFFF;
      }

      ul
      {
        display:none;
        position:absolute;
        top:100%;
	      left:0px;

        li
        {
          background-color: rgba(30, 30, 30, 0.8);
        }
      }

      &:hover > ul, &:focus > ul
      {
        display:block;

        & li
        {
          display:block;
        }
      }
    }
  }
}
