nav.main
{

  > *
  {
    position:relative;
  }

  #nav-toggle
  {
    display:none;
  }

  i.fa-bars
  {
    font-size: 2em;
    display:none;
  }

  ul
  {
    transition: max-height .30s linear;
    list-style: none;

    li
    {
      transition: display .30s linear;
      position:relative;
      display:inline;
      padding-right: 10px;

      a:hover, a:focus
      {
        color: #00FFFF;
      }

      ul
      {
        display:none;
        position:absolute;
        top:100%;
	      left:0px;

        li
        {
          background-color: rgba(30, 30, 30, 0.8);
        }
      }

      &:hover > ul, &:focus > ul
      {
        display:block;

        & li
        {
          display:block;
        }
      }
    }
  }
}

@media screen and (max-width: 900px)
{
  nav.main
  {
    i.fa-bars
    {
      display: inline-block;
    }

    ul
    {
      max-height: 0;

      li
      {
        display:none;
      }
    }

    .article_search
    {
      display:none;
    }
  }

  #nav-toggle:checked
  {
    ~ ul
    {

      max-height: 400px;

      li
      {
        display:block;
      }
    }

    ~ .article_search
    {
      display:block;
    }
  }
}
