#sitemap
{
  padding-bottom: 30px;
  line-height: 120%;

  ul
  {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  a:hover, a:focus
  {
    color: #00FFFF;
  }

  .resource
  {
    display: inline-block;
  }
}
