// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article#article
{

  div.subject
  {
    margin-bottom: 30px;
    padding: 20px;
    width: 70%;
    height: 10%;
    background-color: rgba(30, 30, 30, 0.2);

    > *
    {
      margin: 5px;
    }

    h3, h4, h5, h6
    {
      color: #800080;
    }

    a:hover, a:focus
    {
      color: #00FFFF;
    }

    .date
    {
      font-style: italic;
    }

    span, .created, .updated
    {
      color: #FFF;
    }

    span
    {
      margin-right: 10px;
    }

    div.content
    {
      padding: 10px;
      background-color: #FFF;

      a
      {
        border-bottom: 1px #000 dotted;
      }
    }
  }

}
