*
{
  margin:0px;
  padding:0px;
  text-decoration: none;

  &, &:before, &:after
  {
    box-sizing: inherit;
  }
}

html
{
  /* Thanks, http://subtlepatterns.com/ */
  background-image: image-url('background/shattered.png');
  background-color: #DBDBDB;
  width:100%;
  box-sizing: border-box;

  p, a, h1, h2, h3, h4, h5, h6
  {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
  }

  #document
  {
    padding: 15px 15px;
    padding-top: 7em;
    margin: 0px auto;

    h1
    {
      padding-bottom:2%;
      text-align: center;
    }

    a, a:link, a:visited, a:hover, a:focus, a:active
    {
      color: inherit;
    }

    div.subject
    {
      margin-bottom: 30px;
      padding: 20px;
      background-color: rgba(30, 30, 30, 0.2);

      > *
      {
        margin: auto;
      }

      a:hover, a:focus
      {
        color: #00FFFF;
      }

      .created, .updated, .edit, .delete
      {
        color: #FFF;
      }

       > span
      {
        margin-right: 10px;
      }

      div.content
      {
        padding: 10px;
        background-color: #FFF;

        h1, h2, h3, h4, h5, h6
        {
          color: #800080;
        }

        a
        {
          border-bottom: 1px #000 dotted;
        }
      }
    }

  }
}
