urlset xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  url
    loc= root_url
    lastmod= Date.today.iso8601
    changefreq= 'daily'
    priority= 1.0

  - for page in all_pages_by_title
    url
      loc= page_url page
      lastmod= page.updated_at.iso8601

  - for article in all_articles_by_title
    url
      loc= article_url article
      lastmod= article.updated_at.to_time.iso8601

  - for category in all_categories_by_title
    url
      loc= category_url category
      lastmod= category.updated_at.iso8601
