// SEO
meta name='keywords' content='Gannon, McGibbon'
meta name='author' content='Gannon McGibbon'
// Image
meta name='msapplication-TileColor' content='#DA532C'
meta name='msapplication-TileImage' content='/mstile-144x144.png'
meta name='theme-color' content='#FFFFFF'
// Viewport
meta name='viewport' content='width=device-width, initial-scale=1'
